ion-header {
  background-color: #191923;
  height: 60px;
  div.logo {
    display: inline-block;
    float: left;
    img {
      height: 40px;
      margin: 10px 0 0 25px;
    }
  }

}
ion-content {
  margin: 0;
  .main_wrapper {
    .vcampus_img {
      margin-top: 80px;
      text-align: center;
      img {
        height: 120px;
      }
    }
  }


}
