<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Teacher</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main>
<ion-header>
  <div class="logo">
    <img src="assets/vcampus.png" alt="app logo">
  </div>

</ion-header>

<ion-content>
<div class="login_page">
   <div class="form_login">
     <ion-card>
  <ion-card-header>
    <ion-card-title> <span>LOGIN</span>
      <img src="assets/vhands.png" alt="">
    </ion-card-title>
    <ion-card-subtitle>login as</ion-card-subtitle>
    <ion-select  placeholder="Select One" value="Teacher">
      <ion-select-option selected disabled="true">Teacher</ion-select-option>
    </ion-select>
  </ion-card-header>

  <ion-card-content>
    <ion-label>USERNAME</ion-label>
    <ion-input type="username"><ion-icon name="person"></ion-icon></ion-input>
    <ion-label>PASSWORD</ion-label>
    <ion-input type="password"><ion-icon name="key"></ion-icon></ion-input>
    <ion-button (click)='presentLoading()'>LOGIN</ion-button>
  </ion-card-content>
</ion-card>
   </div>
  </div>
</ion-content>
</ion-router-outlet>
