<ion-header>
<div class="title">Add Course</div>
</ion-header>

<ion-content>
  <div class="wrapper">
  <div class="add_course">
    <ion-label>Section</ion-label>
    <select name="section">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
      <option>16</option>
      <option>17</option>
      <option>18</option>
      <option>19</option>
      <option>20</option>
      </select>
  </div>
  <div class="course_details">
    <ion-card>
      <ion-card-header>
    <ion-card-title>Course details</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-label>Course name</ion-label>
    <ion-input></ion-input>
    <ion-label>Course description</ion-label>
    <ion-textarea rows="8"></ion-textarea>
    <ion-label>Course subjects</ion-label>
    <div class="course_subject">
      <select name="subject">
        <option>None</option>
         <option>Architecture</option>
         <option>Art & Culture</option>
         <option>Biology & Life Sciences</option>
         <option>Business & Management</option>
         <option>Chemistry</option>
         <option>Communication</option>
         <option>Computer Science</option>
         <option>Data Analysis & Statistics</option>
         <option>Design</option>
         <option>Economics & Finance</option>
         <option>Education & Teacher Training</option>
         <option>Electronics</option>
         <option>Energy & Earth Sciences</option>
         <option>Engineering</option>
         <option>Environmental Studies</option>
         <option>Ethics</option>
         <option>Food & Nutrition</option>
         <option>Health & Safety</option>
         <option>History</option>
         <option>Humanities</option>
         <option>Language</option>
         <option>Law</option>
         <option>Literature</option>
         <option>Math</option>
         <option>Medicine</option>
         <option>Music</option>
         <option>Philanthropy</option>
         <option>Philosophy & Ethics</option>
         <option>Physics</option>
         <option>Science</option>
         <option>Social Sciences</option>
      </select>
    </div>
    <ion-label>
      Course logo
    </ion-label>
    <div class="course_logo">
      <div class="img">
        <img src="" alt="">
      </div>
      <div class="upload_btn">
        <div class="btn_text">
          <ion-icon name="cloud-upload"></ion-icon>
          <p>Choose file</p>
        </div>
      </div>
    </div>
    <ion-label>Course availability</ion-label>
    <div>
      <select name="semester">
        <option>none</option>
        <option>First semester</option>
        <option>Second Semester</option>
      </select>
    </div>
    <div class="add_course_btn">
      <ion-button>Add course</ion-button>
    </div>
  </ion-card-content>
    </ion-card>
  </div>
  </div>
</ion-content>
